<span *ngIf="contentLoaded">
  <h2 class="page-title">Admin Info</h2>

  <div class="admin-buttons-wrapper">
    <button class="btn btn-secondary" (click)="surprise()">
      New Announcement 📢
    </button>

    <button class="btn btn-secondary" (click)="navigateToInstagram()">
      Post on Instagram 📸
    </button>

    <button class="btn btn-secondary" (click)="surprise()">
      Launch Missile 🚀
    </button>
  </div>

  <button
    class="btn btn-primary btn-lg btn-block see-more-button"
    (click)="router.navigate(['administration'])"
  >
    Go to Admin Page ⚙️
  </button>
</span>

<span class="loading-icon" *ngIf="!contentLoaded">
  <app-loading-spinner></app-loading-spinner>
</span>
