<div class="login-page">
  <div class="card">
    <form #f="ngForm" (ngSubmit)="newUser ? onSignUp(f) : onLogin(f)">
      <h1>{{ newUser ? "Sign Up" : "Login" }}</h1>
      <div class="form-group">
        <input
          type="email"
          placeholder="Email"
          ngModel
          name="email"
          required
          #emailInput="ngModel"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          placeholder="Password"
          ngModel
          name="password"
          required
          minlength="6"
          #pwInput="ngModel"
          class="form-control"
        />
      </div>

      <button type="submit" [disabled]="!f.valid" class="btn btn-primary">
        {{ newUser ? "Sign Up" : "Login" }}
      </button>
      <app-google-button (click)="onOathSignIn()"></app-google-button>

      <a class="link-primary" (click)="switchToLoginOrSignUp()">
        {{
          newUser
            ? "Already have an account? Click here to login."
            : "Are you new here? Click here to create an account."
        }}</a
      >
    </form>
  </div>
</div>
