<span *ngIf="contentLoaded">
  <h2 class="page-title">
    Welcome {{ userDisplayName }}. Here is the most recent announcement.
  </h2>

  <div class="posts-wrapper">
    <div *ngFor="let post of posts$ | async" class="card post">
      <div class="post-title-and-menu-header">
        <h4 class="post-title">{{ post.title }}</h4>
      </div>
      <div class="post-header">
        <h6 class="post-created-by-name">{{ post.createdByUserName }}</h6>

        <h6 class="post-date">
          {{ post.createdDate | date : "MMM d, yy, h:mm a" }}
        </h6>
      </div>

      <p>{{ post.message }}</p>
      <div class="post-files">
        <span *ngFor="let url of post.fileURLs">
          <img [src]="url" class="post-file" />
        </span>
        <span *ngFor="let url of post.videoURLs">
          <video class="post-file" controls>
            <source [src]="url" />
            There was a problem displaying this video. Please reach out to Jaden
            for help.
          </video>
        </span>
      </div>
      <app-comments-area [post]="post"></app-comments-area>
    </div>
  </div>

  <button
    class="btn btn-primary btn-lg btn-block see-more-button"
    (click)="router.navigate(['announcements'])"
  >
    View Past Announcements 📢
  </button>
</span>

<span class="loading-icon" *ngIf="!contentLoaded">
  <app-loading-spinner></app-loading-spinner>
</span>
