<span *ngIf="(pendingRequests$ | async)!.length > 0">
  <h3>Pending Email Authorization Requests</h3>
  <p>
    Prospective users have requested to create accounts. Please approve or
    decline them.
  </p>
  <table class="table" *ngIf="contentLoaded">
    <thead>
      <tr>
        <th scope="col">Requested By</th>
        <th scope="col">Email</th>
        <th scope="col">Accept</th>
        <th scope="col">Decline</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of pendingRequests$ | async">
        <td scope="row">
          {{ request.name }}
        </td>
        <td scope="row">
          {{ request.email }}
        </td>
        <td>
          <fa-icon
            class="accept-button"
            [icon]="icon.faCheckCircle"
            (click)="acceptRequest()"
          ></fa-icon>
        </td>
        <td>
          <span class="decline-button" (click)="declineRequest()">X</span>
        </td>
      </tr>
    </tbody>
  </table>
</span>
<span class="loading-icon" *ngIf="!contentLoaded">
  <app-loading-spinner></app-loading-spinner>
</span>
