<div class="modal-header">
  <h4 class="modal-title">Add Review ✍️</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<form #f="ngForm">
  <div class="modal-body">
    <!-- Here's the documentation on ngb rating: https://ng-bootstrap.github.io/#/components/rating/examples -->
    <div class="rating-section" *ngIf="newReview.rating">
      <ngb-rating [(rate)]="newReview.rating" [max]="5" [readonly]="false">
        <ng-template let-fill="fill" let-index="index">
          <i
            class="bi-star{{ fill === 100 ? '-fill' : '' }}"
            [class.filled]="fill === 100"
          ></i>
        </ng-template>
      </ngb-rating>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="onCreateReview()">
      Confirm
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="activeModal.close('No')"
    >
      Cancel
    </button>
  </div>
</form>
