<app-page-wrapper [contentLoaded]="contentLoaded">
  <div pageHeader><h1>Request to create an account</h1></div>
  <div pageContent>
    <ngb-alert [dismissible]="false" *ngIf="requestSent" type="success">
      {{ requestSentMessage }}
    </ngb-alert>

    <ngb-alert
      [dismissible]="true"
      (closed)="emailExistsMsg = ''"
      *ngIf="emailExistsMsg"
    >
      {{ emailExistsMsg }}
    </ngb-alert>

    <ngb-alert
      class="danger-alert"
      [dismissible]="true"
      [animation]="true"
      type="danger"
      *ngIf="displayBadEmailMsg"
    >
      Please type in a valid email address.
    </ngb-alert>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!requestSent">
      <div class="form-group">
        <input
          type="email"
          placeholder="Email"
          ngModel
          name="email"
          required
          #emailInput="ngModel"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          placeholder="Your name"
          ngModel
          name="yourName"
          required
          #pwInput="ngModel"
          class="form-control"
        />
      </div>

      <button type="submit" [disabled]="!f.valid" class="btn btn-primary">
        Request Access
      </button>
    </form>
  </div>
</app-page-wrapper>
