<div class="weather-wrapper card">
  <app-loading-spinner *ngIf="!currentWeatherLoaded"> </app-loading-spinner>
  <span *ngIf="currentWeatherLoaded">
    <span class="weather-widget-header">
      <h4>St. George, Utah</h4>
      <span class="current-weather-high-and-low-container">
        <h4>{{ currentWeather.temperature }}&#8457;</h4>
        <h6>{{ currentWeather.description }}</h6>
      </span>
    </span>

    <span class="weather-widget-body">
      <h5 class="current-weather-day">
        {{ currentWeather.date | date : "cccc" : "GMT" }}
      </h5>
      <div class="animation-wrapper" *ngIf="currentWeather.animation">
        <app-animation [animationKey]="currentWeather.animation">
        </app-animation>
      </div>
    </span>

    <span class="weather-widget-footer">
      <div *ngFor="let day of futureDays" class="future-weather-card">
        <span class="future-weather-day"
          ><strong>{{ day.date | date : "ccc" : "GMT" }}</strong></span
        >
        <span class="future-weather-high"> {{ day.high }}&#8457;</span>
        <span class="future-weather-low"> {{ day.low }}&#8457;</span>
        <img class="future-weather-icon" [src]="day.iconUrl" />
      </div>
    </span>
  </span>
</div>
