<div class="weather-wrapper card">
  <app-loading-spinner *ngIf="!currentWeatherLoaded"> </app-loading-spinner>
  <span *ngIf="currentWeatherLoaded">
    <h4>Current Weather</h4>
    <div class="animation-wrapper" *ngIf="currentWeather.animation">
      <app-animation [animationKey]="currentWeather.animation"> </app-animation>
    </div>

    <div class="weather-info card-body">
      <span>{{ currentWeather.description }}</span>
      <span>Temperature: {{ currentWeather.temperature }}&#8457;</span>
      <span>Feels like: {{ currentWeather.feelsLike }}&#8457;</span>
      <span>High: {{ currentWeather.high }}&#8457;</span>
      <span>Low: {{ currentWeather.low }}&#8457;</span>
    </div>
  </span>
</div>

<div *ngFor="let day of futureDays">
  <span>{{ day.date }}</span>
  <span> {{ day.high }}&#8457;</span>
  <span> {{ day.low }}&#8457;</span>
  <img [src]="day.iconUrl" />
</div>
