.weather-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  width: 200px;
  text-align: center;
  border-radius: 10%;
}

.animation-wrapper {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.weather-info {
  display: flex;
  flex-direction: column;
}
