<div class="weather-wrapper">
  <app-loading-spinner *ngIf="!currentWeatherLoaded"> </app-loading-spinner>
  <span *ngIf="currentWeatherLoaded">
    <h4>Current Weather</h4>
    <div class="animation-wrapper">
      <app-animation [animationKey]="'cloudAnimation'"> </app-animation>
    </div>
    <span>{{ currentWeather.description }}</span>
    <span>Temperature: {{ currentWeather.temperature }}&#8457;</span>
    <span>Feels like: {{ currentWeather.feelsLike }}&#8457;</span>
    <span>High: {{ currentWeather.high }}&#8457;</span>
    <span>Low: {{ currentWeather.low }}&#8457;</span>
  </span>
</div>
