@import "../../../styles.scss";

.weather-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  @include for-tablet-portrait-up {
    width: 500px;
  }
  max-width: 500px;
  text-align: center;
  padding: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 22, 121, 1) 0%,
    rgba(0, 196, 255, 1) 100%
  );
  color: white;
  text-align: left;
}

.animation-wrapper {
  width: 100px;
  @include for-tablet-portrait-up {
    width: 150px;
  }
  margin-left: auto;
  margin-right: auto;
}

.weather-info {
  display: flex;
  flex-direction: column;
}

.weather-widget-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-widget-body {
  display: flex;
  align-items: center;
}

.weather-widget-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 4px;
}

.future-weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(230, 233, 237, 0.3);
  padding: 5px;
  border-radius: 5%;
}

.future-weather-icon {
  width: 50px;
}

.future-weather-low {
  font-size: small;
}

.future-weather-high {
  font-size: medium;
}
