.add-post-container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.uploaded-img {
  width: 300px;
}

.files-to-upload {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.upload-progress {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.file-input-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.reset-files-button {
  color: red;
  cursor: pointer;
}

.success-alert,
.danger-alert {
  max-width: 500px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.approved-emails-dropdown-header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
}
