.add-post-container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.uploaded-img {
  width: 300px;
}

.files-to-upload {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.upload-progress {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.file-input-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.reset-files-button {
  color: red;
  cursor: pointer;
}

.success-alert,
.danger-alert {
  max-width: 500px;
}

.people-to-notify-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.select-all-button {
  margin-left: auto;
}
