<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<form #f="ngForm">
  <div class="modal-body">
    <div class="add-post-container">
      <!-- message input -->
      <label>Message</label>
      <textarea
        class="form-control"
        id="message"
        rows="3"
        [(ngModel)]="newPost.message"
        name="message"
        required
      ></textarea>

      <!-- File input -->
      <span class="file-input-container">
        <button
          class="btn btn-primary"
          onclick="document.getElementById('getFile').click()"
        >
          Add a photo
        </button>
        <input
          type="file"
          (change)="uploadFile($event)"
          #fileInput
          accept="image/png, image/gif, image/jpeg"
          style="display: none"
          id="getFile"
        />

        <span
          *ngIf="newPost.fileURLs!.length > 0"
          class="reset-files-button"
          (click)="clearFiles()"
          >&#10006;</span
        >
      </span>

      <!-- Video Input -->
      <span class="file-input-container">
        <button
          class="btn btn-secondary"
          onclick="document.getElementById('getVideo').click()"
        >
          Add a video
        </button>
        <input
          type="file"
          #videoInput
          (change)="uploadVideo($event)"
          accept="video/mp4,video/x-m4v,video/*"
          style="display: none"
          id="getVideo"
        />
      </span>

      <div
        class="upload-progress"
        *ngIf="percentageChanges$ | async as percentage"
      >
        <app-loading-spinner></app-loading-spinner>
        <span>{{ percentage / 100 | percent }}</span>
      </div>

      <div class="files-to-upload">
        <img
          *ngFor="let url of newPost.fileURLs"
          [src]="url"
          class="uploaded-img"
        />

        <video
          class="uploaded-img"
          controls
          *ngFor="let url of newPost.videoURLs"
        >
          <source [src]="url" />
          There was a problem displaying this video. Please reach out to Jaden
          for help.
        </video>
      </div>
    </div>

    <span
      ><ngb-alert
        class="danger-alert"
        [dismissible]="true"
        [animation]="true"
        type="danger"
        *ngIf="displayErrorMsg"
      >
        Unable to add post. Please reach out to Jaden for help! 😭
      </ngb-alert></span
    >
  </div>
  <div class="modal-footer">
    <!-- Submit button -->
    <button
      [disabled]="!f.valid"
      type="submit"
      class="btn btn-primary"
      *ngIf="!postToEdit"
      (click)="onCreatePost()"
    >
      Submit
    </button>
    <button
      [disabled]="!f.valid"
      class="btn btn-primary"
      *ngIf="postToEdit"
      (click)="updatePost()"
    >
      Save Changes
    </button>
  </div>
</form>
