@import "../../../styles.scss";

.loading-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  padding-left: 10px;
  padding-right: 10px;
}

.animation-wrapper {
  width: 400px;
}
