@import "../../../styles.scss";

.home-page-section,
.check-availability-banner {
  display: flex;
  justify-content: center;
}

.home-page-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered {
  display: flex;
  justify-content: center;
}

.video-section {
  position: relative;
}

.video-content {
  @include for-phone-only {
    display: none;
  }

  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
