<div class="home-page-wrapper">
  <app-carousel></app-carousel>
  <div class="check-availability-banner">
    <app-check-availability-menu></app-check-availability-menu>
  </div>

  <app-page-wrapper [contentLoaded]="contentLoaded">
    <div pageHeader>
      <div *ngIf="isAuth">
        <h1>Welcome {{ authService.userDisplayName }}</h1>
      </div>
    </div>
    <div pageContent>
      <div class="centered">
        <app-weather></app-weather>
      </div>
    </div>
  </app-page-wrapper>
</div>
