@import "../../../styles.scss";

.home-page-section {
  display: flex;
  justify-content: center;
  margin-top: $spacing-large;
}

.home-page-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

app-carousel {
  margin-left: auto;
  margin-right: auto;
}
