<div class="home-page-wrapper">
  <!-- <app-carousel></app-carousel> -->

  <!-- The home page video -->
  <div class="video-section">
    <video autoplay muted loop id="homePageVideo">
      <source src="./assets/home-page-video.mp4" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
    <div class="video-content">
      <app-check-availability-menu></app-check-availability-menu>
    </div>
  </div>

  <app-page-wrapper [contentLoaded]="contentLoaded">
    <div pageContent class="centered-content">
      <div *ngIf="!isAuth">
        <app-login-or-sign-up
          *ngIf="!isAuth"
          [navigateUserAwayOnLogin]="false"
        ></app-login-or-sign-up>
      </div>

      <app-admin-section *ngIf="isAuth && (currentUserIsAdmin$ | async)">
      </app-admin-section>
      <app-announcements-section
        *ngIf="isAuth"
        [userDisplayName]="authService.userDisplayName"
      ></app-announcements-section>

      <app-whats-happening-home-page-section
        *ngIf="isAuth"
      ></app-whats-happening-home-page-section>

      <app-my-reservations-section *ngIf="isAuth">
      </app-my-reservations-section>

      <!-- TODO add a section that shows off the pool and tells the pool rules -->

      <!-- TODO Add a section that shows the gps coordinates and gives directions on how to get there -->

      <app-fitness-home-page-section *ngIf="isAuth">
      </app-fitness-home-page-section>

      <div class="centered">
        <app-weather></app-weather>
      </div>

      <app-reviews-section
        *ngIf="isAuth"
        [isAuth]="isAuth"
      ></app-reviews-section>
    </div>
  </app-page-wrapper>
</div>
