<div class="home-page-wrapper">
  <app-carousel></app-carousel>

  <app-page-wrapper [contentLoaded]="contentLoaded">
    <div pageContent class="centered-content">
      <div class="check-availability-banner">
        <app-check-availability-menu></app-check-availability-menu>
      </div>
      <div *ngIf="!isAuth">
        <app-login-or-sign-up
          *ngIf="!isAuth"
          [navigateUserAwayOnLogin]="false"
        ></app-login-or-sign-up>
      </div>
      <div>
        <app-whats-happening-section
          *ngIf="isAuth"
          [userDisplayName]="authService.userDisplayName"
        ></app-whats-happening-section>
        <app-instagram-feed *ngIf="isAuth"></app-instagram-feed>
      </div>

      <div class="centered">
        <app-weather></app-weather>
      </div>
    </div>
  </app-page-wrapper>
</div>
