@import "../../../styles.scss";

.btn-img {
  width: 50px;
}

.images {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ios-prompt {
  display: flex;
  flex-direction: column;
}

.button-container {
  position: relative;
  left: -22px;
}
