<div class="prompt" *ngIf="data.mobileType === 'android'">
  <div class="button-container">
    <button class="close-ios-inv" mat-button color="primary" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="download-button">
    <button class="btn btn-primary" (click)="installPwa()">
      Download the App 📲
    </button>
  </div>
</div>

<div *ngIf="data.mobileType === 'ios'" class="prompt">
  <div class="button-container">
    <button class="close-ios-inv" mat-button color="primary" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <span>
    To install the app on your device tap the Menu button and then 'Add to Home
    screen'.
  </span>
  <div class="images">
    <div class="img-wrapper">
      <img class="btn-img" src="./assets/ios-menu-btn.png" />
    </div>

    <span>&#x2192;</span>

    <div class="img-wrapper">
      <img class="btn-img" src="./assets/ios-add-btn.png" />
    </div>
  </div>
</div>
