@import "../../../styles.scss";

.date-field {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;
}

.custom-day:hover {
  background-color: #e6e6e6;
}

.date-unavailable {
  display: flex;
  align-items: center;
  color: $lightest;
  background-color: $highlightColor;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  justify-content: center;
}

.selected {
  background-color: $secondaryColor;
}
