<span
  *ngIf="disabled && !datePickerService.isPrivateVisit(date)"
  class="past-date"
  ngbTooltip="This date is unavailable."
  >{{ date.day }}</span
>

<span
  *ngIf="datePickerService.isPrivateVisit(date) && disabled"
  class="private-visit"
  ngbTooltip="This date is unavailable."
  >X</span
>

<span
  class="custom-day"
  *ngIf="!disabled && !datePickerService.isPrivateVisit(date)"
  [class.selected]="selected"
  [class.nonPrivateVisit]="datePickerService.isNonPrivateVisit(date)"
  [ngbTooltip]="
    datePickerService.isNonPrivateVisit(date)
      ? 'A non-private visit is scheduled for this date. You can still schedule on this date.'
      : 'This date is available.'
  "
>
  {{ date.day }}
</span>
