<app-page-wrapper [contentLoaded]="contentLoaded">
  <div pageHeader>
    <h1>Administration</h1>
  </div>
  <div pageContent>
    <div class="page-content-container">
      <app-reservations-by-user></app-reservations-by-user>
      <app-pending-authorization-requests></app-pending-authorization-requests>
      <app-authorized-emails></app-authorized-emails>

      <full-calendar [options]="calendarOptions">
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    </div>
  </div>
</app-page-wrapper>
