<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<form #f="ngForm">
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button [disabled]="!f.valid" type="submit" class="btn btn-primary">
      Submit
    </button>
    <button
      [disabled]="!f.valid"
      class="btn btn-primary"
      *ngIf="leaderBoardToEdit"
    >
      Save Changes
    </button>
  </div>
</form>
