@import "../../../styles.scss";

.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dropdown-group {
  display: flex;
  flex-direction: column;
}
