<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<span class="loading-icon" *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</span>

<form #f="ngForm" *ngIf="!loading">
  <div class="modal-body">
    <span
      ><ngb-alert
        class="danger-alert"
        [dismissible]="true"
        [animation]="true"
        type="danger"
        *ngIf="displayErrorMsg"
      >
        {{ errorMessage }}
      </ngb-alert></span
    >
  </div>
  <div class="modal-footer">
    <button [disabled]="!f.valid" type="submit" class="btn btn-primary">
      Submit
    </button>
    <button
      [disabled]="!f.valid"
      class="btn btn-primary"
      *ngIf="leaderBoardToEdit"
    >
      Save Changes
    </button>
  </div>
</form>
