<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<span class="loading-icon" *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</span>

<form #f="ngForm" *ngIf="!loading">
  <div class="modal-body">
    <span
      ><ngb-alert
        class="danger-alert"
        [dismissible]="true"
        [animation]="true"
        type="danger"
        *ngIf="displayErrorMsg"
      >
        {{ errorMessage }}
      </ngb-alert></span
    >

    <div class="form-group">
      <label>*Name </label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="newLeaderBoard.name"
        name="name"
        required
      />
    </div>

    <div class="form-group">
      <label>Description (Optional)</label>
      <textarea
        class="form-control"
        id="description"
        rows="3"
        [(ngModel)]="newLeaderBoard.description"
        name="description"
      ></textarea>
    </div>

    <!-- uOfM dropdown-->
    <div class="form-group dropdown-group">
      <label>Unit of Measure</label>
      <div ngbDropdown class="d-inline-block">
        <button
          type="button"
          class="btn btn-outline-primary"
          id="uOfM"
          ngbDropdownToggle
        >
          {{ newLeaderBoard.unitOfMeasure }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <!-- Follow the leaderBoardUOfM type -->
          <button ngbDropdownItem (click)="setUOfM('timeInMinutes')">
            minutes
          </button>
          <button ngbDropdownItem (click)="setUOfM('reps')">reps</button>
        </div>
      </div>
    </div>

    <!-- sort entries dropdown-->
    <div class="form-group dropdown-group">
      <label>Sort entries</label>
      <div ngbDropdown class="d-inline-block">
        <button
          type="button"
          class="btn btn-outline-primary"
          id="sortEntries"
          ngbDropdownToggle
        >
          <span>
            {{
              newLeaderBoard.sortEntriesFromHighestToLowest
                ? "Highest to lowest"
                : "Lowest to highest"
            }}
          </span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <!-- Follow the leaderBoardUOfM type -->
          <button
            ngbDropdownItem
            (click)="setSortEntriesFromHighestToLowest(true)"
          >
            Highest to lowest
          </button>
          <button
            ngbDropdownItem
            (click)="setSortEntriesFromHighestToLowest(false)"
          >
            Lowest to highest
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      [disabled]="!f.valid"
      *ngIf="!leaderBoardToEdit"
      type="submit"
      class="btn btn-primary"
      (click)="onCreateLeaderBoard()"
    >
      Submit
    </button>
    <button
      [disabled]="!f.valid"
      class="btn btn-primary"
      *ngIf="leaderBoardToEdit"
      (click)="updateLeaderBoard()"
    >
      Save Changes
    </button>

    <button
      [disabled]="!f.valid"
      class="btn btn-danger"
      *ngIf="leaderBoardToEdit"
      (click)="onDeleteLeaderBoard(leaderBoardToEdit)"
    >
      Delete Leader Board
    </button>
  </div>
</form>
