<app-page-wrapper [contentLoaded]="contentLoaded">
  <div pageHeader>
    <h1>Reserve Your Trip</h1>
  </div>

  <div pageContent class="page-content-wrapper">
    <div class="form-container">
      <div class="card booking-form">
        <form
          #f="ngForm"
          (ngSubmit)="onBook(f)"
          class="check-availablility-form"
        >
          <div class="check-availability-form-group">
            <label>*Arrive</label>
            <div class="date-field">
              <input
                type="text"
                ngbDatepicker
                required
                name="arrivalDate"
                #arrivalDateInput="ngbDatepicker"
                [(ngModel)]="arrivalDate"
                class="form-control"
              />
              <fa-icon
                class="calendar-button"
                [icon]="icon.faCalendarAlt"
                (click)="arrivalDateInput.toggle()"
              ></fa-icon>
            </div>
          </div>

          <div class="check-availability-form-group">
            <label>*Depart</label>
            <div class="date-field">
              <input
                type="text"
                ngbDatepicker
                required
                name="departureDate"
                #departureDateInput="ngbDatepicker"
                [(ngModel)]="departureDate"
                class="form-control"
              />
              <fa-icon
                class="calendar-button"
                [icon]="icon.faCalendarAlt"
                (click)="departureDateInput.toggle()"
              ></fa-icon>
            </div>
          </div>

          <span *ngIf="dateAvailable === undefined"
            ><ngb-alert [dismissible]="false">
              Please select an arrival and departure date to check availability.
            </ngb-alert></span
          >

          <span *ngIf="dateAvailable === false"
            ><ngb-alert type="danger" [dismissible]="false">
              This date is not available. Someone may have booked a private
              event during this time. Please select another date.
            </ngb-alert></span
          >
          <span *ngIf="dateAvailable === true && isAuth"
            ><ngb-alert type="success" [dismissible]="false">
              This date is available.
            </ngb-alert></span
          >

          <span *ngIf="dateAvailable === true && !isAuth"
            ><ngb-alert type="success" [dismissible]="false">
              This date is available.
            </ngb-alert></span
          >
          <span *ngIf="dateAvailable && !isAuth"
            ><ngb-alert [dismissible]="false">
              Please login to book this trip.
            </ngb-alert></span
          >

          <span *ngIf="dateAvailable && isAuth"
            ><ngb-alert [dismissible]="false">
              Please fill out the below information to continue booking.
            </ngb-alert></span
          >

          <div
            class="check-availability-form-group"
            *ngIf="isAuth && dateAvailable"
          >
            <label>*Number of guests</label>
            <input
              class="form-control"
              type="number"
              min="1"
              required
              name="numberOfGuests"
              ngModel
            />
          </div>

          <div
            class="check-availability-form-group"
            *ngIf="isAuth && dateAvailable"
          >
            <label>*Number of vehicles</label>
            <input
              class="form-control"
              type="number"
              min="0"
              required
              name="numberOfVehicles"
              ngModel
            />
          </div>

          <div
            class="check-availability-form-group"
            *ngIf="isAuth && dateAvailable"
          >
            <label>*Family name</label>
            <input
              class="form-control"
              type="text"
              required
              name="familyName"
              ngModel
              required
              placeholder="The Burritos"
            />
          </div>

          <div
            class="check-availability-form-group form-check"
            *ngIf="isAuth && dateAvailable"
          >
            <input
              type="checkbox"
              class="form-check-input"
              id="privateVisit"
              ngModel
              name="privateVisit"
            />
            <label>Private Visit?</label>
            <p>
              <small
                >Check the box to not allow other guests to book during your
                stay.</small
              >
            </p>
          </div>

          <div
            class="check-availability-form-group"
            *ngIf="isAuth && dateAvailable"
          >
            <label>*Plans for food</label>
            <textarea
              class="form-control"
              id="plansForFood"
              rows="3"
              ngModel
              required
              name="plansForFood"
              placeholder="Grandpa's cookin'"
            ></textarea>
          </div>

          <div
            class="check-availability-form-group"
            *ngIf="isAuth && dateAvailable"
          >
            <label>Additional information</label>
            <textarea
              class="form-control"
              id="additionalInfo"
              rows="3"
              ngModel
              name="additionalInfo"
              placeholder="Archer says hi!"
            ></textarea>
          </div>

          <div class="book-now-button" *ngIf="isAuth && dateAvailable">
            <button
              type="submit"
              [disabled]="!f.valid"
              class="btn btn-primary btn-lg"
            >
              Book
            </button>
          </div>

          <div class="book-now-button" *ngIf="!dateAvailable">
            <button
              (click)="checkAvailability()"
              [disabled]="!f.valid"
              class="btn btn-primary btn-lg"
            >
              Check Availability
            </button>
          </div>

          <app-login *ngIf="!isAuth"></app-login>
        </form>
      </div>

      <span class="weather-wrapper">
        <app-weather></app-weather>
      </span>
    </div>
  </div>
</app-page-wrapper>
