@import "../../../styles.scss";

.animation-wrapper {
  width: 70%;
  @include for-tablet-portrait-up {
    width: 25%;
  }
  margin-left: auto;
  margin-right: auto;
}

.no-leaderboards-section {
  text-align: center;
}

.leader-boards-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
