@import "../../../styles.scss";

.animation-wrapper {
  width: 70%;
  @include for-tablet-portrait-up {
    width: 25%;
  }
  margin-left: auto;
  margin-right: auto;
}

.no-leaderboards-section {
  text-align: center;
}

.leader-boards-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.loading-icon {
  margin-left: auto;
  margin-right: auto;
}

.leader-boards-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.name-section {
  margin-bottom: 12px;
}

.leader-board-header {
  display: flex;

  flex-direction: row;
}

.created-by {
  margin-left: auto;
}

.leader-board {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
