@import "../../../styles.scss";

.animation-wrapper {
  width: 70%;
  @include for-tablet-portrait-up {
    width: 25%;
  }
  margin-left: auto;
  margin-right: auto;
}

.no-leaderboards-section {
  text-align: center;
}

.leader-boards-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.loading-icon {
  margin-left: auto;
  margin-right: auto;
}

.leader-boards-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info-section {
  display: flex;
  flex-direction: column;
}

.leader-board-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.leader-board {
  width: 100%;
  @include for-tablet-portrait-up {
    width: 90%;
  }
  margin-left: auto;
  margin-right: auto;
}

.name-section {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
}

.button-cell {
  text-align: right;
  @include for-tablet-portrait-up {
    text-align: center;
  }
}
