<div class="card leader-boards-card">
  <h4>Leader Boards</h4>

  <span class="loading-icon" *ngIf="loading">
    <app-loading-spinner></app-loading-spinner
  ></span>

  <div
    class="no-leaderboards-section"
    *ngIf="!loading && !(leaderBoards$ | async)?.length"
  >
    <div class="animation-wrapper">
      <app-animation [animationKey]="'fitness'" animationSize="small">
      </app-animation>
    </div>
    <h5>It looks like there are no active leader boards.</h5>
  </div>

  <div class="leader-boards-list">
    <div
      *ngFor="let leaderBoard of leaderBoards$ | async"
      class="leader-board card"
    >
      <div class="info-section">
        <div class="leader-board-header">
          <div class="name-section">
            <h6>{{ leaderBoard.name }}</h6>
            <small class="created-by"
              >Created by: {{ leaderBoard.createdBy }}</small
            >
          </div>

          <span
            class="post-menu-options-button"
            (click)="dropdownMenu.open()"
            *ngIf="
              (currentUserIsAdmin$ | async) || leaderBoard.userId === userId
            "
            >&#8230;</span
          >

          <div
            ngbDropdown
            #dropdownMenu="ngbDropdown"
            class="post-options-menu"
          >
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="editLeaderBoard(leaderBoard)">
                Edit leader board
              </button>
            </div>
          </div>
        </div>

        <p>{{ leaderBoard.description }}</p>

        <button class="btn btn-primary" (click)="addOrEditEntry(leaderBoard)">
          Add or Update Entry
        </button>
      </div>

      <!-- <div class="card"></div> -->
    </div>
  </div>

  <button class="btn btn-secondary" (click)="createNewLeaderBoard()">
    Create New Leader Board
  </button>
</div>
