@import "../../../styles.scss";

.page-content-wrapper {
  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 8px;
  }
}

.booking-form {
  height: fit-content;
}

.weather-wrapper {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}
