<app-page-wrapper
  [contentLoaded]="contentLoaded"
  bannerImageUrl="./assets/images/Living Rm looking to back yard.png"
>
  <div pageHeader>
    <h1 class="page-title">Reservation Details</h1>
  </div>

  <div pageContent class="page-content-wrapper">
    <div class="form-container">
      <div class="card booking-form">
        <form
          #f="ngForm"
          (ngSubmit)="onChangeReservation(f)"
          class="check-availablility-form"
        >
          <div class="check-availability-form-group">
            <label>*Arrive</label>
            <div class="date-field">
              <input
                type="text"
                ngbDatepicker
                required
                name="arrivalDate"
                #arrivalDateInput="ngbDatepicker"
                [(ngModel)]="reservation.arrivalDate"
                class="form-control"
                [disabled]="!editing"
                (click)="arrivalDateInput.toggle()"
              />
              <fa-icon
                class="calendar-button"
                [icon]="icon.faCalendarAlt"
                (click)="
                  editing ? arrivalDateInput.toggle() : askUserIfWantToEdit()
                "
              ></fa-icon>
            </div>
          </div>

          <div class="check-availability-form-group">
            <label>*Depart</label>
            <div class="date-field">
              <input
                type="text"
                ngbDatepicker
                required
                name="departureDate"
                #departureDateInput="ngbDatepicker"
                [(ngModel)]="reservation.departureDate"
                class="form-control"
                (click)="departureDateInput.toggle()"
                [disabled]="!editing"
              />
              <fa-icon
                class="calendar-button"
                [icon]="icon.faCalendarAlt"
                (click)="
                  editing ? departureDateInput.toggle() : askUserIfWantToEdit()
                "
              ></fa-icon>
            </div>
          </div>

          <div class="check-availability-form-group">
            <label>*Number of guests</label>
            <input
              class="form-control"
              type="number"
              min="1"
              required
              name="numberOfGuests"
              [(ngModel)]="reservation.numberOfGuests"
              [disabled]="!editing"
            />
          </div>

          <div class="check-availability-form-group">
            <label>*Number of vehicles</label>
            <input
              class="form-control"
              type="number"
              min="0"
              required
              name="numberOfVehicles"
              [(ngModel)]="reservation.numberOfVehicles"
              [disabled]="!editing"
            />
          </div>

          <div class="check-availability-form-group">
            <label>*Family name</label>
            <input
              class="form-control"
              type="text"
              required
              name="familyName"
              [(ngModel)]="reservation.familyName"
              required
              placeholder="The Burritos"
              [disabled]="!editing"
            />
          </div>

          <div class="check-availability-form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="privateVisit"
              [(ngModel)]="reservation.privateVisit"
              name="privateVisit"
              [disabled]="!editing"
            />
            <label>Private Visit?</label>
            <p>
              <small
                >Check the box to not allow other guests to book during your
                stay.</small
              >
            </p>
          </div>

          <div class="check-availability-form-group">
            <label>*Plans for food</label>
            <textarea
              class="form-control"
              id="plansForFood"
              rows="3"
              [(ngModel)]="reservation.plansForFood"
              required
              name="plansForFood"
              placeholder="Grandpa's cookin'"
              [disabled]="!editing"
            ></textarea>
          </div>

          <div class="check-availability-form-group">
            <label>Additional information</label>
            <textarea
              class="form-control"
              id="additionalInfo"
              rows="3"
              [(ngModel)]="reservation.additionalInfo"
              name="additionalInfo"
              placeholder="Archer says hi!"
              [disabled]="!editing"
            ></textarea>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            *ngIf="editing"
            [disabled]="!f.valid"
          >
            Save
          </button>

          <button
            class="btn btn-danger"
            (click)="onDeleteReservation()"
            *ngIf="editing"
          >
            Cancel Trip 😭
          </button>

          <button
            class="btn btn-secondary"
            *ngIf="!editing"
            (click)="onClickEditButton()"
          >
            Edit
          </button>
        </form>
      </div>

      <span class="weather-wrapper">
        <app-weather></app-weather>
      </span>
    </div>
  </div>
</app-page-wrapper>
