@import "../../../styles.scss";

.loading-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large * 2;
}

.display-background-image {
  @include for-tablet-landscape-up {
    min-height: 100vh;
    background-image: url("../../../assets/images/Rear.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
  }
}

.animation-wrapper {
  width: 400px;
}

.banner-image-container {
  @include for-tablet-landscape-up {
    display: none;
  }
}

.banner-image {
  width: 100%;
}

.content-wrapper {
  padding-left: 24px;
  padding-right: 24px;
  @include for-tablet-landscape-up {
    max-width: 70vw;
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
  }
}
