@import "../../../styles.scss";

.loading-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  padding: $spacing-large;
}

.animation-wrapper {
  width: 400px;
}
