@import "../../../styles.scss";

.loading-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  padding: $spacing-large;
}

.display-background-image {
  @include for-tablet-landscape-up {
    background-image: url("../../../assets/images/Rear.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
  }
}

.animation-wrapper {
  width: 400px;
}

.banner-image-container {
  @include for-tablet-landscape-up {
    display: none;
  }
}

.banner-image {
  width: 100%;
}
