<div class="card reservation-chat-form">
  <h3>Chat with Addie and Jared 💬</h3>
  <ngb-alert
    class="danger-alert"
    [dismissible]="true"
    [animation]="true"
    type="danger"
    *ngIf="displayErrorMsg"
  >
    {{ errorMessage }}
  </ngb-alert>
  <ngb-alert
    class="success-alert"
    [dismissible]="true"
    [animation]="true"
    type="success"
    *ngIf="displaySuccessMsg"
  >
    Message added. Email(s) have been sent. 🎉
  </ngb-alert>
  <div class="reservation-chat-messages">
    <span *ngIf="messages$ | async as messages">
      <div class="card messages-area" *ngIf="messages.length >= 1">
        <div
          *ngFor="let message of messages$ | async"
          class="reservation-chat-message"
        >
          <div class="reservation-chat-message-content">
            <div class="reservation-chat-message-header">
              <span class="user-name">{{ message.userName }}</span>
              <span class="created-date">{{
                message.createdDate | date : "short"
              }}</span>
            </div>
            <div class="reservation-chat-message-content-text">
              {{ message.message }}
            </div>
          </div>
          <hr />
        </div>
      </div>
    </span>

    <form #f="ngForm" class="reservation-chat-form">
      <label>New Message</label>
      <textarea
        class="form-control"
        id="message"
        rows="3"
        name="message"
        [(ngModel)]="newMessage.message"
        required
        placeholder="Type your message here..."
      ></textarea>

      <!-- Submit button -->
      <button
        [disabled]="!f.valid"
        type="submit"
        class="btn btn-primary"
        (click)="onAddMessage()"
      >
        Submit
      </button>
    </form>
  </div>
</div>
