@import "../../../styles.scss";

.reservation-chat-message-header {
  display: flex;
}

.created-date {
  margin-left: auto;
}

.messages-area {
  background-color: $secondaryEvenLighterColor;
}

.reservation-chat-form {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
