<div class="card reservation-chat-form">
  <h3>Chat with Addie and Jared 💬</h3>
  <div class="reservation-chat-messages">
    <div
      *ngFor="let message of messages$ | async"
      class="reservation-chat-message"
    >
      <div class="reservation-chat-message-content">
        <div class="reservation-chat-message-content-text">
          {{ message.message }}
        </div>
        <div class="reservation-chat-message-content-date">
          {{ message.createdDate | date : "short" }}
        </div>
      </div>
    </div>
    <form #f="ngForm" class="reservation-chat-form">
      <label>Message</label>
      <textarea
        class="form-control"
        id="message"
        rows="3"
        name="message"
        [(ngModel)]="newMessage.message"
        required
        placeholder="Type your message here..."
      ></textarea>

      <!-- Submit button -->
      <button
        [disabled]="!f.valid"
        type="submit"
        class="btn btn-primary"
        (click)="onAddMessage()"
      >
        Submit
      </button>
    </form>
  </div>
</div>
