<h3>Approved Emails</h3>

<span *ngIf="approvedRequests.length > 0">
  <p>The following emails have been approved to create accounts and login.</p>
  <ngb-alert
    class="success-alert"
    (closed)="emailAddedMsg = ''"
    [dismissible]="true"
    [animation]="true"
    type="success"
    *ngIf="emailAddedMsg"
  >
    {{ emailAddedMsg }}
  </ngb-alert>
  <table class="table" *ngIf="contentLoaded">
    <thead>
      <tr>
        <th scope="col">Requested By</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of approvedRequests">
        <td scope="row">
          {{ request.name }}
        </td>
        <td scope="row">
          {{ request.email }}
        </td>
        <td scope="row">
          <button
            type="button"
            class="btn btn-link delete-button"
            (click)="onDeleteAuthorization(request)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" (click)="onAddEmail()">Add Email</button>
</span>

<span class="loading-icon" *ngIf="!contentLoaded">
  <app-loading-spinner></app-loading-spinner>
</span>
