<span class="loading-icon" *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</span>

<span *ngIf="!loading">
  <div class="section-content">
    <div class="review-wrapper-wrapper">
      <div class="review-wrapper" [@fadeIn] *ngIf="this.reviewVisible">
        <app-review
          *ngIf="reviewToDisplay"
          [review]="reviewToDisplay"
        ></app-review>
      </div>
    </div>

    <div class="review-section-button">
      <button
        class="btn btn-primary btn-lg btn-block see-more-button"
        *ngIf="isAuth"
        (click)="openAddReviewModal()"
      >
        Leave a review ✍️
      </button>
    </div>
  </div>
</span>
