<span *ngIf="contentLoaded">
  <h2>What's Happening at Crimson Canyon Resort?</h2>

  <div class="posts-wrapper">
    <div *ngFor="let post of posts$ | async" class="card post">
      <div class="post-header">
        <h6 class="post-title">{{ post.createdByUserName }}</h6>

        <h6 class="post-date">
          {{ post.createdDate | date : "MMM d, yy, h:mm a" }}
        </h6>
      </div>

      <p>{{ post.message }}</p>
      <div class="post-files">
        <span *ngFor="let url of post.fileURLs">
          <img
            *ngIf="!whatsHappeningService.urlIsVideo(url)"
            [src]="url"
            class="post-file"
          />
          <video
            *ngIf="whatsHappeningService.urlIsVideo(url)"
            class="post-file"
            controls
          >
            <source [src]="url" />
            There was a problem displaying this video. Please reach out to Jaden
            for help.
          </video>
        </span>
      </div>
    </div>
  </div>

  <button
    class="btn btn-primary btn-lg btn-block"
    (click)="router.navigate(['whats-happening'])"
  >
    See more
  </button>
</span>

<span class="loading-icon" *ngIf="!contentLoaded">
  <app-loading-spinner></app-loading-spinner>
</span>
