@import "../../../styles.scss";

.check-availability-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: $navBarColor;
  height: fit-content;
  width: 400px;
  @include for-tablet-landscape-up {
    width: 98vh;
    max-width: 2000px;
    height: 160px;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  @include for-tablet-landscape-up {
    align-items: end;
    flex-direction: row;
  }
}
.book-now-button {
  text-align: center;
}

.calendar-button {
  cursor: pointer;
  color: $lightest;
}

label,
h2 {
  color: $lightest;
}

.check-availability-form-group {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.date-field {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;
}

.custom-day:hover {
  background-color: #e6e6e6;
}

.date-unavailable {
  display: flex;
  align-items: center;
  color: $lightest;
  background-color: $highlightColor;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  justify-content: center;
}
