<span class="loading-icon" *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</span>

<div class="check-availability-container" *ngIf="!loading">
  <h2>Book your next stay</h2>

  <ng-template
    #dayTemplate
    let-date="date"
    let-disabled="disabled"
    let-selected="selected"
  >
    <span
      *ngIf="disabled"
      class="date-unavailable"
      ngbTooltip="This date is unavailable."
      >X</span
    >
    <span
      class="custom-day"
      *ngIf="!disabled"
      [class.bg-primary]="selected"
      ngbTooltip="This date is available."
    >
      {{ date.day }}
    </span>
  </ng-template>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="check-availability-form-group">
      <label>Arrive</label>
      <div class="date-field">
        <input
          type="text"
          ngbDatepicker
          required
          name="arrivalDate"
          #arrivalDateInput="ngbDatepicker"
          ngModel="arrivalDate"
          class="form-control"
          (click)="arrivalDateInput.toggle()"
          [minDate]="todaysDate"
          [markDisabled]="datePickerService.isDisabled"
          [dayTemplate]="dayTemplate"
        />
        <fa-icon
          class="calendar-button"
          [icon]="icon.faCalendarAlt"
          (click)="arrivalDateInput.toggle()"
        ></fa-icon>
      </div>
    </div>

    <div class="check-availability-form-group">
      <label>Depart</label>
      <div class="date-field">
        <input
          type="text"
          ngbDatepicker
          required
          name="departureDate"
          #departureDateInput="ngbDatepicker"
          ngModel="departureDate"
          class="form-control"
          (click)="departureDateInput.toggle()"
          [minDate]="todaysDate"
          [markDisabled]="datePickerService.isDisabled"
        />
        <fa-icon
          class="calendar-button"
          [icon]="icon.faCalendarAlt"
          (click)="departureDateInput.toggle()"
        ></fa-icon>
      </div>
    </div>

    <div class="book-now-button">
      <button
        type="submit"
        [disabled]="!f.valid"
        class="btn btn-primary btn-lg"
        ngbTooltip="This date is unavailable."
      >
        Check Availability
      </button>
    </div>
  </form>
</div>
