@import "../../../styles.scss";

.check-availability-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: $navBarColor;
  height: fit-content;
  width: 400px;
  @include for-tablet-landscape-up {
    width: 98vh;
    max-width: 2000px;
    height: 100px;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  @include for-tablet-landscape-up {
    align-items: center;
    flex-direction: row;
  }
}
.book-now-button {
  text-align: center;
}

.calendar-button {
  cursor: pointer;
  color: $lightest;
}

label {
  color: $lightest;
}

.check-availability-form-group {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.date-field {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
