<div class="check-availability-container">
  <h2>Book your next stay</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="check-availability-form-group">
      <label>Arrive</label>
      <div class="date-field">
        <input
          type="text"
          ngbDatepicker
          required
          name="arrivalDate"
          #arrivalDateInput="ngbDatepicker"
          ngModel="arrivalDate"
          class="form-control"
          (click)="arrivalDateInput.toggle()"
          [minDate]="todaysDate"
        />
        <fa-icon
          class="calendar-button"
          [icon]="icon.faCalendarAlt"
          (click)="arrivalDateInput.toggle()"
        ></fa-icon>
      </div>
    </div>

    <div class="check-availability-form-group">
      <label>Depart</label>
      <div class="date-field">
        <input
          type="text"
          ngbDatepicker
          required
          name="departureDate"
          #departureDateInput="ngbDatepicker"
          ngModel="departureDate"
          class="form-control"
          (click)="departureDateInput.toggle()"
          [minDate]="todaysDate"
        />
        <fa-icon
          class="calendar-button"
          [icon]="icon.faCalendarAlt"
          (click)="departureDateInput.toggle()"
        ></fa-icon>
      </div>
    </div>

    <div class="book-now-button">
      <button
        type="submit"
        [disabled]="!f.valid"
        class="btn btn-primary btn-lg"
      >
        Check Availability
      </button>
    </div>
  </form>
</div>
