<nav class="navbar navbar-expand-lg navbar-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'.'">Crimson Canyon Resort</a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item active" *ngIf="!isAuth">
          <a
            class="nav-link"
            [routerLink]="'login'"
            (click)="isMenuCollapsed = true"
            >Login
          </a>
        </li>

        <li class="nav-item active" *ngIf="!isAuth">
          <a
            class="nav-link"
            [routerLink]="'signup'"
            (click)="isMenuCollapsed = true"
            >Sign Up
          </a>
        </li>

        <li class="nav-item active" *ngIf="isAuth">
          <div ngbDropdown>
            <span class="nav-link-container">
              <a
                class="nav-link"
                style="cursor: pointer"
                ngbDropdownToggle
                *ngIf="authService.user$ | async as user"
              >
                {{ user.email }}
              </a>
            </span>

            <div class="dropdown-menu" ngbDropdownMenu>
              <button
                ngbDropdownItem
                (click)="isMenuCollapsed = true; authService.logout()"
              >
                Sign Out
              </button>
            </div>
          </div>
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            [routerLink]="'reserve-trip-page'"
            (click)="isMenuCollapsed = true"
            >Book Now
          </a>
        </li>

        <li class="nav-item active" *ngIf="isAuth">
          <a
            class="nav-link"
            [routerLink]="'page-not-found-page'"
            (click)="isMenuCollapsed = true"
            >My Reservations
          </a>
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            [routerLink]="'page-not-found-page'"
            (click)="isMenuCollapsed = true"
            >What's Happening
          </a>
        </li>
        <li class="nav-item active" *ngIf="isAuth">
          <a
            class="nav-link"
            [routerLink]="'page-not-found-page'"
            (click)="isMenuCollapsed = true"
            >Administration
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
