<div class="posts-wrapper">
  <button class="btn btn-primary" (click)="addNewPost()">
    New Announcement 📢
  </button>

  <div *ngFor="let post of posts" class="card post">
    <div class="post-title-and-menu-header">
      <h4 class="post-title">{{ post.title }}</h4>
      <span
        class="post-menu-options-button"
        (click)="dropdownMenu.open()"
        *ngIf="
          (currentUserIsAdmin$ | async) || post.userId === authService.userId
        "
        >&#8230;</span
      >
    </div>
    <div class="post-header">
      <h6 class="post-created-by-name">
        {{ post.createdByUserName }}
      </h6>

      <h6 class="post-date">
        {{ post.createdDate | date : "MMM d, yy, h:mm a" }}
      </h6>

      <div ngbDropdown #dropdownMenu="ngbDropdown" class="post-options-menu">
        <div ngbDropdownMenu>
          <button
            ngbDropdownItem
            (click)="onEditPost(post)"
            *ngIf="post.userId === authService.userId"
          >
            Edit announcement
          </button>
          <button
            ngbDropdownItem
            class="delete-dropdown-item"
            (click)="onDeletePost(post.id)"
          >
            Delete announcement
          </button>
        </div>
      </div>
    </div>

    <p>{{ post.message }}</p>

    <div class="post-files">
      <span *ngFor="let url of post.fileURLs">
        <img [src]="url" class="post-file" />
      </span>
      <span *ngFor="let url of post.videoURLs">
        <video class="post-file" controls>
          <source [src]="url" />
          There was a problem displaying this video. Please reach out to Jaden
          for help.
        </video>
      </span>
    </div>

    <app-comments-area [comments]="post.comments"></app-comments-area>
  </div>
</div>
