@import "../../../styles.scss";

.cancel-button {
  color: red;
}

.link-primary {
  cursor: pointer;
}

.trash-icon {
  color: red;
  cursor: pointer;
  margin-left: -32px;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.header > button {
  @include for-tablet-landscape-up {
    margin-left: auto;
  }
}
