<div class="card">
  <span *ngIf="contentLoaded && !viewingPastReservations">
    <span class="header">
      <h3>Upcoming Reservations By Family</h3>
      <button class="btn btn-primary" (click)="toggleViewingPastReservations()">
        View Past Reservations
      </button>
    </span>

    <table class="table" *ngIf="upcomingReservations.length > 0">
      <thead>
        <tr>
          <th scope="col">Family Name</th>
          <th scope="col">Num of Guests</th>
          <th scope="col">Arrive</th>
          <th scope="col">Depart</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of upcomingReservations">
          <td scope="row">
            <a
              class="link-primary"
              (click)="reservationsService.viewReservationDetails(reservation)"
              ngbTooltip="View Reservation"
            >
              {{ reservation.familyName }}
            </a>
          </td>
          <td scope="row">
            {{ reservation.numberOfGuests }}
          </td>
          <td scope="row">
            {{ reservation.arrivalDate.month }}/{{
              reservation.arrivalDate.day
            }}/{{ reservation.arrivalDate.year }}
          </td>
          <td>
            {{ reservation.departureDate.month }}/{{
              reservation.departureDate.day
            }}/{{ reservation.departureDate.year }}
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="upcomingReservations.length === 0" class="no-upcoming-section">
      <h1>😭</h1>
      <h4>There are no upcoming reservations.</h4>
    </div>
  </span>

  <span *ngIf="contentLoaded && viewingPastReservations">
    <span class="header">
      <h3>Past Reservations By Family</h3>
      <button
        class="btn btn-secondary"
        (click)="toggleViewingPastReservations()"
      >
        View Upcoming Reservations
      </button>
    </span>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Family Name</th>
          <th scope="col">Num of Guests</th>
          <th scope="col">Arrive</th>
          <th scope="col">Depart</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of pastReservations">
          <td scope="row">
            <a
              class="link-primary"
              (click)="reservationsService.viewReservationDetails(reservation)"
              ngbTooltip="View Reservation"
            >
              {{ reservation.familyName }}
            </a>
          </td>
          <td scope="row">
            {{ reservation.numberOfGuests }}
          </td>
          <td scope="row">
            {{ reservation.arrivalDate.month }}/{{
              reservation.arrivalDate.day
            }}/{{ reservation.arrivalDate.year }}
          </td>
          <td>
            {{ reservation.departureDate.month }}/{{
              reservation.departureDate.day
            }}/{{ reservation.departureDate.year }}
          </td>
        </tr>
      </tbody>
    </table>
  </span>

  <span class="loading-icon" *ngIf="!contentLoaded">
    <app-loading-spinner></app-loading-spinner>
  </span>
</div>
