<h3>Reservations By Family</h3>
<table class="table" *ngIf="contentLoaded">
  <thead>
    <tr>
      <th scope="col">Family Name</th>
      <th scope="col">Num of Guests</th>
      <th scope="col">Arrive</th>
      <th scope="col">Depart</th>
      <th scope="col">Private Visit?</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td scope="row">
        {{ reservation.familyName }}
      </td>
      <td scope="row">
        {{ reservation.numberOfGuests }}
      </td>
      <td scope="row">
        {{ reservation.arrivalDate.month }}/{{ reservation.arrivalDate.day }}/{{
          reservation.arrivalDate.year
        }}
      </td>
      <td>
        {{ reservation.departureDate.month }}/{{
          reservation.departureDate.day
        }}/{{ reservation.departureDate.year }}
      </td>
      <td>{{ reservation.privateVisit ? "Yes" : "No" }}</td>
      <td>
        <button
          type="button"
          class="btn btn-link"
          (click)="reservationsService.viewReservationDetails(reservation)"
        >
          View
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-link cancel-button"
          (click)="onDeleteReservation(reservation)"
        >
          Cancel
        </button>
      </td>
    </tr>
  </tbody>
</table>

<span class="loading-icon" *ngIf="!contentLoaded">
  <app-loading-spinner></app-loading-spinner>
</span>
