<div class="modal-header">
  <h4 class="modal-title">Add Approved Email</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="modal-body">
    <p>
      Add an approved email to the list. A user will be able to create an
      account and login with this email.
    </p>
    <ngb-alert
      class="danger-alert"
      [dismissible]="true"
      [animation]="true"
      type="danger"
      *ngIf="displayBadEmailMsg"
    >
      Please type in a valid email address.
    </ngb-alert>
    <ngb-alert
      [dismissible]="true"
      (closed)="emailExistsMessage = ''"
      *ngIf="emailExistsMessage"
    >
      {{ emailExistsMessage }}
    </ngb-alert>
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        placeholder="Email"
        ngModel
        name="email"
        required
        #emailInput="ngModel"
        class="form-control"
      />
    </div>

    <!-- <span
      ><ngb-alert
        class="danger-alert"
        [dismissible]="true"
        [animation]="true"
        type="danger"
        *ngIf="displayErrorMsg"
      >
        Unable to add post. Please reach out to Jaden for help! 😭
      </ngb-alert></span
    > -->
  </div>
  <div class="modal-footer">
    <!-- Submit button -->
    <button [disabled]="!f.valid" type="submit" class="btn btn-primary">
      Submit
    </button>
  </div>
</form>
