/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
$spacing-large: 60px;
$nav-bar-height: 101px;

// Colors
$lightest: rgb(238, 229, 229);
$darkest: rgb(33, 25, 25);

/*
* Screen size mixins
* Usage: @include layout.for-tablet-portrait-up {margin-left: -0.1em;}
*/
@mixin for-phone-only {
  @media (max-width: 649px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 908px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1170px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
