@import "./colors";

.btn-primary {
  background-color: $highlightColor !important;
  border-color: $highlightColor !important;
}

.btn-primary:hover {
  background-color: $lightHighlightColor !important;
  border-color: $lightHighlightColor !important;
}

.btn-secondary {
  background-color: $secondaryColor !important;
  border-color: $secondaryColor !important;
}

.btn-secondary:hover {
  background-color: $secondaryLighterColor !important;
  border-color: $secondaryLighterColor !important;
}

.see-more-button {
  margin-top: 16px;
  width: 100%;
}
