// Lato
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

p,
span,
input,
small,
label,
li,
td,
th {
  font-family: "Lato", sans-serif;
  // font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700 !important;
  // font-size: 1.2em;
}
