@import "./layout";
@import "./colors";

.post-file {
  width: 300px;
  border-radius: 4px;
}

.post-files {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 24px;
  align-items: center;
  row-gap: 24px;

  @include for-tablet-landscape-up {
    justify-content: space-between;
  }
}

.posts-wrapper {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.post {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-menu-options-button {
  cursor: pointer;
}

.delete-dropdown-item {
  color: red;
}

.delete-dropdown-item:hover {
  color: red;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.post-menu-options-button {
  margin-left: auto;
  font-size: 2em;
  margin-right: 8px;
  position: relative;
  top: -15px;
}

.post-options-menu {
  left: -156px;
  top: 12px;
}

.post-title {
  font-weight: bolder;
}

.post-date {
  font-weight: normal;
  margin-left: auto;
}
