@import "./fonts";
@import "./layout";
@import "./forms";
@import "./posts";
@import "./colors";
@import "./buttons";

// body {
//   background-image: url("../../assets/images/Rear.png");
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: auto;
// }
