<div class="posts-wrapper">
  <button class="btn btn-primary" (click)="addNewPost()">New Post</button>

  <div *ngFor="let post of posts" class="card post">
    <span class="post-menu-options-button" (click)="dropdownMenu.open()"
      >&#8230;</span
    >

    <div ngbDropdown #dropdownMenu="ngbDropdown">
      <div ngbDropdownMenu>
        <button ngbDropdownItem class="delete-dropdown-item">
          Delete Post
        </button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>

    <span>{{ post.createdByUserName }} </span>
    <span> {{ post.createdDate | date : "MMM d, yy, h:mm a" }} </span>
    <p>{{ post.message }}</p>
    <img *ngFor="let url of post.fileURLs" [src]="url" class="post-img" />
  </div>
</div>
