<app-page-wrapper [contentLoaded]="true">
  <div pageContent>
    <div class="page-content-container">
      <app-animation [animationKey]="'palmTreeAnimation'"> </app-animation>
      <h4>
        Congratulations! Your stay at Crimson Canyon Resort has been booked!
      </h4>
      <span class="buttons-menu">
        <button
          type="button"
          class="btn btn-primary"
          (click)="router.navigate(['page-not-found-page'])"
        >
          View Reservation
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="router.navigate(['my-reservations-page'])"
        >
          See all reservations
        </button>
      </span>
    </div>
  </div>
</app-page-wrapper>
