<app-page-wrapper
  [contentLoaded]="contentLoaded"
  bannerImageUrl="../../../assets/images/Left Rear.png"
>
  <div pageHeader>
    <h1 class="page-title">What's Happening at Crimson Canyon</h1>

    <ngb-alert
      (closed)="removeAllMessages()"
      class="success-alert"
      [dismissible]="true"
      [animation]="true"
      type="success"
      *ngIf="displayNewPostMessage"
    >
      Successfully added post! 🥳
    </ngb-alert>

    <ngb-alert
      (closed)="removeAllMessages()"
      class="success-alert"
      [dismissible]="true"
      [animation]="true"
      type="success"
      *ngIf="displaySavedChangesMessage"
    >
      Changes saved! ✅
    </ngb-alert>

    <ngb-alert
      (closed)="removeAllMessages()"
      class="danger-alert"
      [dismissible]="true"
      [animation]="true"
      type="danger"
      *ngIf="displayErrorMsg"
    >
      Unable to add post. Please reach out to Jaden for help! 😭
    </ngb-alert>

    <ngb-alert
      (closed)="removeAllMessages()"
      class="success-alert"
      [dismissible]="true"
      [animation]="true"
      type="success"
      *ngIf="displayDeletedPostMessage"
    >
      Successfully deleted post! 🗑️
    </ngb-alert>
  </div>
  <div pageContent>
    <div class="page-content-container">
      <app-posts
        [posts]="posts$ | async"
        (addedNewPost)="removeAllMessages(); onAddedNewPost()"
        (deletedPost)="removeAllMessages(); onDeletedPost()"
        (somethingWentWrong)="removeAllMessages(); displayErrorMsg = true"
        (editedPost)="removeAllMessages(); displaySavedChangesMessage = true"
      ></app-posts>
    </div>
  </div>
</app-page-wrapper>
