<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<span class="loading-icon" *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</span>

<form #f="ngForm" *ngIf="!loading">
  <div class="modal-body">
    <span
      ><ngb-alert
        class="danger-alert"
        [dismissible]="true"
        [animation]="true"
        type="danger"
        *ngIf="displayErrorMsg"
      >
        {{ errorMessage }}
      </ngb-alert></span
    >

    <label>What is your (new) score?</label>

    <div
      *ngIf="leaderBoard.unitOfMeasure === 'timeInMinutes'"
      class="form-section"
    >
      <!-- TODO Make the new score input not show the previous score.-->
      <!-- <small *ngIf="editingExistingEntry"
        >Previous Score: {{ newEntry.score }}</small
      > -->

      <div class="form-group inline-form-group">
        <label>Minutes</label>
        <input
          type="number"
          class="form-control"
          id="minutes"
          [(ngModel)]="newEntry.scoreInMinutes"
          name="minutes"
          required
        />
      </div>

      <div class="form-group inline-form-group">
        <label>Seconds</label>
        <input
          type="number"
          class="form-control"
          id="seconds"
          [(ngModel)]="newEntry.scoreInSeconds"
          name="seconds"
          required
        />
      </div>

      <div class="form-group inline-form-group">
        <label>Milliseconds</label>
        <input
          type="number"
          class="form-control"
          id="milliseconds"
          [(ngModel)]="newEntry.scoreInMilliseconds"
          name="milliseconds"
          required
        />
      </div>
    </div>

    <div *ngIf="leaderBoard.unitOfMeasure === 'reps'" class="form-section">
      <input
        type="number"
        class="form-control"
        id="score"
        [(ngModel)]="newEntry.scoreInReps"
        name="score"
        required
      />
    </div>

    <div class="form-section">
      <div class="form-group inline-form-group">
        <label>Date</label>
        <div class="date-field">
          <input
            type="text"
            ngbDatepicker
            required
            name="entryDate"
            #entryDate="ngbDatepicker"
            [(ngModel)]="newEntry.date"
            class="form-control"
            (click)="entryDate.toggle()"
          />
          <fa-icon
            class="calendar-button"
            [icon]="icon.faCalendarAlt"
            (click)="entryDate.toggle()"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      [disabled]="!f.valid"
      type="submit"
      class="btn btn-primary"
      (click)="onCreateNewLeaderBoardEntry()"
    >
      Submit
    </button>

    <button
      [disabled]="!f.valid"
      *ngIf="editingExistingEntry"
      type="submit"
      class="btn btn-primary"
      (click)="updateExistingLeaderBoardEntry()"
    >
      Save Changes
    </button>

    <button class="btn btn-danger" *ngIf="editingExistingEntry">
      Delete Entry
    </button>
  </div>
</form>
