.form-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.inline-form-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

input[type="number"] {
  width: 100px;
}
