<div class="add-post-container card">
  <h3>Add a post</h3>

  <form #f="ngForm" (ngSubmit)="onCreatePost(f)">
    <!-- title input-->
    <label>Title</label>
    <input
      class="form-control"
      type="text"
      required
      ngModel
      id="title"
      name="title"
      required
    />

    <!-- message input -->
    <label>Message</label>
    <textarea
      class="form-control"
      id="message"
      rows="3"
      ngModel
      name="message"
      required
    ></textarea>

    <!-- File input -->
    <span class="file-input-container">
      <input type="file" (change)="uploadFile($event)" #fileInput />

      <span
        *ngIf="iconURLs.length > 0"
        class="reset-files-button"
        (click)="clearFiles()"
        >&#10006;</span
      >
    </span>

    <div
      class="upload-progress"
      *ngIf="percentageChanges$ | async as percentage"
    >
      <app-loading-spinner></app-loading-spinner>
      <span>{{ percentage / 100 | percent }}</span>
    </div>

    <div class="files-to-upload">
      <img *ngFor="let url of iconURLs" [src]="url" class="uploaded-img" />
    </div>
    <!-- Submit button -->
    <button [disabled]="!f.valid" type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
