<div class="post-comments">
  <div class="post-comment" *ngFor="let comment of comments">
    <div class="post-comment-header">
      <h6 class="post-comment-created-by-name">
        {{ comment.createdByUserName }}
      </h6>

      <h6 class="post-comment-date">
        {{ comment.createdDate | date : "MMM d, yy, h:mm a" }}
      </h6>
    </div>

    <p>{{ comment.message }}</p>
  </div>
  <textarea
    class="form-control"
    id="message"
    rows="3"
    [(ngModel)]="newComment"
    name="message"
    required
  ></textarea>

  <div class="comment-footer">
    <button class="btn-secondary btn">
      Add Comment

      <fa-icon class="accept-button" [icon]="icon.faComment"></fa-icon>
    </button>
  </div>
</div>
