<div class="post-comments">
  <hr />
  <div class="post-comment" *ngFor="let comment of post.comments">
    <div class="post-comment-header">
      <h6 class="post-comment-created-by-name">
        {{ comment.createdByUserName }}
      </h6>

      <h6 class="post-date">
        {{ comment.createdDate | date : "MMM d, yy, h:mm a" }}
      </h6>
    </div>

    <p>{{ comment.message }}</p>
  </div>

  <div class="add-comment-section">
    <textarea
      class="form-control"
      id="message"
      rows="3"
      [(ngModel)]="newComment.message"
      name="message"
      required
      [placeholder]="randomFunnyPlaceholderMessage"
    ></textarea>

    <div class="comment-button">
      <button
        class="btn-secondary btn"
        [disabled]="newComment.message === ''"
        (click)="addComment()"
      >
        Add Comment

        <fa-icon class="accept-button" [icon]="icon.faComment"></fa-icon>
      </button>
    </div>
  </div>
</div>
